*{
    margin: 0;
    padding: 0;
    font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#grid_wrapper{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px;
    grid-template-areas: 
    'hea hea hea hea'
    "sec sec sec sec"
    "sec2 sec2 sec2 sec2"
    "art1 art1 sec3 sec3"
    "sec4 art2 art2 art2" ;
}
header{
    grid-area: hea;
    height: 65px;
    display: flex;
    flex-direction: row;
    
}

#logo{
width: 950px;
}

#search_bar{
    width: 100px;
    align-items: flex-end;
    justify-content: flex-end;
   
}
#title_and_info{
    grid-area: sec;
    background: url("../img/animals/startsida3.jpg");
    height: 100vh;
    background-size: cover;
    background-position:center;  
}

#about{
    grid-area: sec2;
    height: 300px;
}


body{
    background-color: #9A8574;
    margin: 5px;
}


ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(24, 18, 18);
    padding: 5px 20px;
    border: 1px solid rgb(18, 12, 12);
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: black;
    color: #fff ;
}

ul li.active a{
    background-color: black;
    color: #fff ;
}
.logo img{
    float: left;
    width: 50px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: #fff;
    font-size: 70px;
    flex-direction: row;
}

.info{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px  solid #fff;
    padding: 10px 60px;
    color: #fff;
    text-decoration: none;

}

.btn:hover{
    background-color: #fff;
    color: black ; 
}

#information{
    align-items: center;
    justify-content: center;  
    display: flex;
    flex-direction: row;
    height: 150px;
    font-size: 40px;
}

#row1{
    flex-direction: row;
    display: flex;
    padding: 15px 50px;   
}

#row3{
    flex-direction: row;
    display: flex;
    padding: 15px 50px;   
}

#row2{
    flex-direction: row-reverse;
    display: flex;
    padding: 15px 50px;  
}

#art1{
    background-color: white;
    grid-area: art1;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    margin: 10px;
    align-items: center;
    align-content: center;  
    width: 460px;
    padding: 20px 50px;
    border: 2px solid rgb(18, 12, 12);
    height: 160px;
}

#sec3{
    grid-area: sec3;
    
    display: flex;
    flex-direction: row;
    background-position: center;
    background-size: cover;
    width: 460px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#mapicon{
   background: url(../img/mapicon2.jpg);
   background-position: center;
   background-size: cover;
   align-items: center;
   justify-content: center;
}

#art2{
    background-color: white;
    grid-area: art2;
    flex-direction: row-reverse;
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    margin: 10px;
    align-items: center;
    align-content: center;  
    width: 460px;
    padding: 30px 50px;
    border: 2px solid rgb(18, 12, 12);
    height: 160px;
}

#sec4{
    grid-area: sec3;
    display: flex;
    flex-direction: row;
    background-position: center;
    background-size: cover;
    width: 400px;
    align-items: center;
    align-content: center;
    justify-content: center;
}


    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center ;
    


#map_text{
}

#time{
    background: url(../img/animals/scheduleicon3.jpg);
   background-position: center;
   background-size: cover;
   align-items: flex-end;
   align-content: flex-end;
   justify-content: center;
   
}

#time_text{
  

}

#arrival_pic{
    background: url(../img/animals/busicon.png);
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

#grid_wrapper2{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px;
    grid-template-areas: 
    'hea hea hea hea'
    "sec sec sec sec"
    "sec2 sec2 sec2 sec2"
    "art1 art1 sec3 sec3"
    "sec4 art2 art2 art2" ;
}

#om_oss_bild{
    grid-area: sec;
    background: url("../img/persons/about_us.jpg");
    height: 150vh;
    background-size: cover;
    background-position: center;  
}

#restaurant_title{
align-items: center;
height: 130px;
display: flex;
align-items: flex-end;
justify-content: center;
align-content: flex-end;
justify-items: flex-end;
flex-direction: row;
font-size: 60px;
color: #fff;

}

#right_part{
display: flex;
width: 500px;
flex-direction: column;
justify-content: center;
align-items: center;
}

#food_bild{
    grid-area: sec;
    background: url("../img/food.jpg");
    height: 100vh;
    background-size: cover;
    background-position:center;   
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
}

#brödtext_food{
color: #fff;
font-size: small;
width: 400px;
align-items: center;
justify-content: center;
justify-items: center;
flex-direction: row;
}

#what_we_do{
height: 350px;
display: flex;
flex-direction: row;
padding: 30px;
background-color: #6C7C9C;
}

#what_we_do_text{
width: 30%;
align-content: space-evenly;
margin: 10px;
}

#title_what_we_do{
height: 150px;
display: flex;
align-items: center;
font-size: 40px;
}

#brödtext_what_we_do{
    align-items: flex-start;
}

#options{
    width: 65%;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
 
.every_option{
    width: 33.3%;
    height: 279px;
}

.pic_option{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 80px;
    height: 200px;
}

.text_option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    align-content: center;
    text-align: center;
    height: 100px;
    font-size: 15px;
    padding: 20px;
    
}

.titel_option{
    font-size: 30px;
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;

}

.item img{
    transition: 0.2s ease;
    object-fit: cover;
    cursor: pointer;
    width: 100%;
    height: 300px;
}

.item img:hover{
    transform: scale(1.04);
}

.item h2{
    padding: 5px;
    text-align: center;
}

.item button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: #65624D;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}

.item button:hover{
    transform: scale(1.04);
}